<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	lang="es"
	th:replace="~{shared/layout :: layout(~{::title}, ~{::section})}"
>
	<head>
		<title>Acceso al Sistema</title>
	</head>
	<body>
		<section class="h-100  d-flex justify-content-center align-items-center">
			<div class="card w-50 bg-light-subtle text-light-emphasis">
				<div class="card-body">
					<div class="login-container">
						<h2>Ingreso al Sistema</h2>

						<form th:action="@{/auth/login}" method="post">
							<div class="mb-3">
								<div th:if="${param.error}" class="error-message">
									Nombre de usuario o contraseña inválidos.
								</div>
								<label for="username" class="form-label">Usuario:</label>
								<input
									type="text"
									id="username"
									name="username"
									class="form-control"
									placeholder="name@example.com"
									required
								/>
							</div>
							<div class="mb-3">
								<label for="password" class="form-label">Contraseña:</label>
								<input
									type="password"
									id="password"
									name="password"
									class="form-control"
									required
								/>
							</div>
							<div class="mb-3 d-flex justify-content-between align-items-center">
								<span class="back-link">
									<a th:href="@{/}">Volver a la Página de Inicio</a>
								</span>
								<button class="btn btn-outline-success" type="submit">
									Iniciar Sesión
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
