<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  lang="es"
  th:replace="~{shared/layout :: layout(~{::title}, ~{::#prueba})}"
>
  <head>
    <title>Catálogo de Recetas</title>
  </head>
   
  <body>
    <section id="prueba">
      <h1>Catálogo de Recetas</h1>
      <form
        th:action="@{/recipes/list}"
        method="get"
        class="search-form"
      ></form>

      <p
        th:if="${successMessage}"
        th:text="${successMessage}"
        class="success"
      ></p>

      <div class="recipe-grid">
        <div th:each="recipe : ${recipes}" class="recipe-card"></div>
        <p th:if="${recipes.isEmpty()}">No se encontró Receta.</p>
      </div>
      <p><a th:href="@{/home}">Volver al inicio</a></p>
    </section>
     
  </body>
</html>
