<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="${recipe.name}"></title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div class="container">
        <h1 th:text="${recipe.name}">Detalle de la Receta</h1>
        <p>Esta información es privada y solo se ve al estar autenticado.</p>

        <p>Dificultad de Elaboración: <span th:text="${recipe.difficulty}"></span></p>
        <p>Tiempo de Cocción/Uso: <span th:text="${recipe.cookingTime} + ' minutos'"></span></p>
        
        <h2>Componentes/Ingredientes</h2>
        <ul>
            <li th:each="ing : ${recipe.ingredients}" th:text="${ing.quantity + ' de ' + ing.ingredient.name}"></li>
        </ul>
        
        <h2>Instrucciones de Preparación</h2>
        <ol>
            <li th:each="step : ${recipe.steps}" th:text="${step.instruction}"></li>
        </ol>
        
        
        
        <p><a th:href="@{/recipes/list}">Volver al listado</a></p>
    </div>
</body>
</html>