<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  lang="es"
  th:replace="~{shared/layout :: layout(~{::title}, ~{::#content})}"
>
  <head>
    <title>Mantenedor Ingredientes</title>
  </head>

  <body>
    <div id="content" class="container mt-4">
      <!-- Modal -->
      <div
        class="modal fade"
        id="ingredientModal"
        tabindex="-1"
        aria-labelledby="ingredientModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <form
              th:action="@{/ingredient/save}"
              th:object="${ingredient}"
              method="post"
            >
              <div class="modal-header">
                <h5
                  class="modal-title"
                  id="ingredientModalLabel"
                  th:text="${ingredient.id} != null ? 'Editar Ingrediente' : 'Crear Ingrediente'"
                ></h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>

              <div class="modal-body">
                <input type="hidden" th:field="*{id}" />

                <div class="mb-3">
                  <label class="form-label">Nombre</label>
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{name}"
                    required
                  />
                </div>

                <div class="mb-3">
                  <label class="form-label">Tipo</label>
                  <select class="form-select" th:field="*{ingredientType}">
                    <option value="" disabled selected>Seleccione...</option>
                    <option
                      th:each="type : ${T(com.kume.kume.infraestructure.models.IngredientType).values()}"
                      th:value="${type}"
                      th:text="${type}"
                    ></option>
                  </select>
                </div>

              </div>

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Cancelar
                </button>
                <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- LISTA DE INGREDIENTES -->
      <div class="mt-5">
        <h3>Lista de Ingredientes</h3>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#ingredientModal"
        >
          Crear ingrediente
        </button>
        <table class="table table-striped table-bordered align-middle mt-3">
          <thead class="table-dark">
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Tipo</th>
              <th class="acciones-table-header">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="ing : ${result.data}">
              <td th:text="${ing.id}"></td>
              <td th:text="${ing.name}"></td>
              <td th:text="${ing.ingredientType}"></td>
              <td class="text-center">
                <a th:href="@{'/ingredient?edit=' + ${ing.id}}" class="btn btn-primary btn-sm">
                    Editar
                </a>
                <a
                  th:href="@{'/ingredient/delete/' + ${ing.id}}"
                  class="btn btn-danger btn-sm"
                  onclick="return confirm('¿Eliminar ingrediente?');"
                >
                  Eliminar
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script>
    document.addEventListener("DOMContentLoaded", () => {
        const ingredientId = /*[[${ingredient.id}]]*/ null;

        if (ingredientId !== null) {
            const modal = new bootstrap.Modal(document.getElementById("ingredientModal"));
            modal.show();
        }
    });
    </script>
  </body>
</html>
